  /* color for footer */
.container { 
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  /* min-height: 100vh; */
  flex-direction: column;
  background: white;
}

/* Main Body */
.main {
  flex: 1;
  overflow: scroll;
  background: #f0f0f0;
  display: relative;
  scroll-behavior: smooth;
}